@font-face {
    font-family: "Enigma";
    src: url('../fonts/EnigmaU_2.TTF') format('truetype');
}

.text-blue {
    color: #408ec6;
}

.background-blue {
    background-color: #408ec6;
}

.text-indigo {
    color: #1e2761;
}

.background-indigo {
    background-color: #1e2761;
}

.text-mangenta {
    color: #7a2048;
}

.background-mangenta {
    background-color: #7a2048;
}

.text-white {
    color: white;
}

body {
    margin: 0px;
}