#contents {
    overflow: hidden;
    position: relative;
    width: 100%;
}

article {
    box-sizing: border-box;
    display: inline-block;
    width: 65%;
    vertical-align: top;
    text-align: center;
    margin-top: 5%;
}


aside {
    box-sizing: border-box;
    display: inline-block;
    width: 25%;
    margin-left: auto;
    margin: 5%;
}

#profile-picture {
    max-width: 100%;
    max-height: 100%;
}