@font-face {
    font-family: "Enigma";
    src: url('fonts/EnigmaU_2.TTF') format('truetype');
}

body {
    background-color: darkgreen;
    margin: 0px;
}

header {
    background-color: forestgreen;
}

.navigation-item {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0.25em;
}

.navigation-list {
    box-sizing: border-box;
    display: inline-block;
    text-align: right;
    padding-right: 1em;
    width: 75%;
    margin-left: auto;
}

#header-name {
    background-color: orange;
    font-family: Enigma;
    font-size: 3em;
    width: 25%;
    color: darkgreen;
}

.navigation-icon {
    display: inline-block;
    width: 3em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
