.navigation-item {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0.25em;
}

nav {
    box-sizing: border-box;
    display: inline-block;
    text-align: right;
    padding-right: 1em;
    margin-left: auto;
    margin-right: 3%;
}

header {
    font-family: "Enigma";
    font-size: 2.15em;
    padding-top: 0.35em;
}

.navigation-icon {
    width: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    opacity: 1;
    z-index: 2;
}

.navigation-icon:hover {
    opacity: 0.7;
}


.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #7a2048 transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

@media screen and (max-width: 799px) {  
    nav, header {
        width: 100%;
    }
}

@media screen and (min-width: 800px) { 
  header {
    width: 280px;
  } 
  nav {
    width: calc(97% - 280px);
  }
}